<div class="menu">

<ul>
  <li><a href="/petition">Sign NOW</a></li>
  <li><a href="/thnxPage">Your signature</a></li>
  <li><a href="/editProfile">Edit Profile</a></li>
  <li><a href="/signers">See who signed</a></li>
  <li><a href="/logout">LOG OUT</a></li>
</ul>
</div>
