<h1>HOME</h1>

<div class="inputs">

<form  method="post">

<input type="text" name="first" value="">
<input type="text" name="last" value="">
</div>
<input id="hidden"  type="hidden" name="hiddenInput" value="">
<button type="submit" name="submit">SUMBIT</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
<canvas id="canvas" width="600" height="200"></canvas>
<p> {{error}}</p>
<!-- <button type="button" name="clear"> clear</button> -->
