
<div class="petitionBody">

    <h1>SIGN HERE</h1>
<div class="canvas">

<canvas id="canvas" width="600" height="200"></canvas>
<form  method="post">
</div>

<input id="hidden"  type="hidden" name="signature" value="">
<button type="submit" name="submit">SUMBIT</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>
<input type="hidden" name="_csrf" value="{{csrfToken}}">

<p> {{error}}</p>
</div>
